requests         # Handling web requests
feedparser       # RSS/Atom feed parsing
lxml             # XML and HTML parsing
beautifulsoup4   # HTML parsing (particularly broken HTML in Wikidot's RSS feed)
pillow           # Managing wiki icon images
Babel >= 2.12    # Language details for adding new languages (Toki Pona was added in 2.12)
tabulate         # Generating Markdown tables
pandas           # Processing Recent Changes, sitemaps, etc.
